.wrapper{
  display: block;
  width: 16rem;
  height: 25.5rem;
  background:linear-gradient(205deg,#00A5DE,#A5218C 40%,#EF5416 90%) ;
  overflow: hidden;
  position: relative;
  z-index: 999;
}	
.wrapper img{
  display: block;
  
}
.wrapper img:nth-of-type(1){
  width:6.775rem;
  height:6.325rem;
  margin:3.475rem 0 0 4.675rem;
}
.wrapper img:nth-of-type(2){
  width:16rem;
  height:10.425rem;
  margin-top: 6.825rem;
}
.wrapper img:nth-of-type(2){
  width:0.65rem;
  height:0.95rem;
  position: absolute;
  top: 9.2rem;
  left:7.3rem;
  animation:span2 1.5s  linear infinite;
  z-index: 2;
}
.wrapper span:nth-of-type(1){
  display: block;
  position: absolute;
  top: 10.425rem;
  left: 5.825rem;
  color: #F0F0F0;
  font-size:0.65rem;
}
.wrapper span:nth-of-type(2){
  display: block;
  position: absolute;
  top: 17.3rem;
  left: 5.925rem;
  color: #F0F0F0;
  font-size:0.65rem;
}
.wrapper span:nth-of-type(3){
  display: block;
  position: absolute;
  top: 15.8rem;
  left: 6.93rem;
  background-color: #F4F4F4;
  height: 1.4rem;
  width: 1.4rem;
  border-radius:50% ;
  opacity: 0.5;
  animation:span3 1.5s  linear infinite;
  
}
@keyframes span2{
	0%{
	  opacity: 1;
	}
	50%{
	  opacity: 0;
	}
	100%{
	  opacity: 1;
	}
}
@keyframes span3{
	0%{
	  opacity: 0.5;
	}
	50%{
	  opacity: 0;
	}
	100%{
	  opacity: 0.5;
	}
}
